<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>TP noté | Jérémy DE SANTA</title>
</head>
<body>
    <div id="slider-intro">
        <img src="assets/img/intro.jpg" alt="Fond d'écran slider">
        <h1>WEB & GRAPHIC DESIGNER</h1>
        <a href="#aboutme">LEARN MORE</a>
    </div>
    <nav>
        <div>
            <span>F</span>
            <h2>
                <span>FO</span>CAL
            </h2>
        </div>
        <ul>
            <li>
                <a href="#">HOME</a>
            </li>
            <li>
                <a href="#aboutme">ABOUT ME</a>
            </li>
            <li>
                <a href="#skills">SKILLS</a>
            </li>
            <li>
                <a href="#resume">RESUME</a>
            </li>
            <li>
                <a href="#education">TESTIMONIALS</a>
            </li>
            <li>
                <a href="#portfolio">PORTFOLIO</a>
            </li>
            <li>
                <a href="#contact">CONTACT ME</a>
            </li>
        </ul>
    </nav>
    <main>
        <div id="introduction" class="addPaddingPart">
            <div>
                <h2>VALUES</h2>
                <p>Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.</p>
            </div>
            <div>
                <h2>GOALS</h2>
                <p>Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.</p>
            </div>
            <div>
                <h2>HOBBIES</h2>
                <p>Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.</p>
            </div>
        </div>
        <section id="aboutme">
            <div>
                <img src="assets/img/me.jpg" alt="Photo de moi">
            </div>
            <div class="addPaddingPart">
                <div>
                    <h2>ABOUT ME</h2>
                    <p>
                        Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. 
                            <br>
                            <br>
                        Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei.
                    </p>
                </div>
                <div> <!-- content of 4 parts-->
                    <div>  <!-- one of them parts-->
                        <div>
                            <img src="assets/img/pictos/webDesign.png" alt="Picto Web Design">
                        </div>
                        <div>
                            <h3>WEB DESIGN</h3>
                            <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.</p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="assets/img/pictos/graphicDesign.png" alt="Picto Graphic Design">
                        </div>
                        <div>
                            <h3>GRAPHIC DESIGN</h3>
                            <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.</p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="assets/img/pictos/onlineMarketing.png" alt="Picto Online Marketing">
                        </div>
                        <div>
                            <h3>ONLINE MARKETING</h3>
                            <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.</p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="assets/img/pictos/seo.png" alt="Picto SEO">
                        </div>
                        <div>
                            <h3>SEO</h3>
                            <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="skills" class="addPaddingPart">
            <div>
                <h2>MY SKILLS</h2>
                <p>
                    Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. 
                        <br>
                        <br>
                    Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.
                </p>
                <a href="#contact">CONTACT ME</a>
            </div>
            <div>
                <div>
                    <h3>PHOTOSHOP</h3>
                    <div></div>
                </div>
                <div>
                    <h3>ILLUSTRATOR</h3>
                    <div></div>
                </div>
                <div>
                    <h3>HTML / CSS</h3>
                    <div></div>
                </div>
                <div>
                    <h3>PHP / MYSQL</h3>
                    <div></div>
                </div>
            </div>
        </section>
        <section id="resume" class="addPaddingPart">
            <h2>RESUME</h2>
            <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. </p>
            <a href="https://deite.fr/jeremy_de-santa_CV.pdf" download>DOWNLOAD RESUME</a>
            <span></span>
        </section>
        <section id="education" class="addPaddingPart presentation">
            <div>
                <h2>MY EDUCATION</h2>
                <p>
                    Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. 
                        <br>
                        <br>
                    Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.
                </p>
            </div>
            <div>
                <div>
                    <div>
                        <h3>GRAPHIC DESIGN DIPLOMA</h3>
                        <p>
                            Reeves college
                            <span>
                                / June 2008 - May 2010
                            </span>
                        </p>
                        <span>4.0 GPE</span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.
                    </p>
                </div>
                <div>
                    <div>
                        <h3>CIT DIPLOMA</h3>
                        <p>
                            Lethbridge College  
                            <span>
                                / June 2006 - May 2008
                            </span>
                        </p>
                        <span>4.0 GPE</span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.
                    </p>
                </div>
            </div>
        </section>
        <section id="experience" class="addPaddingPart presentation">
            <div>
                <h2>WORK EXPERIENCE</h2>
                <p>
                    Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. 
                        <br>
                        <br>
                    Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.
                </p>
            </div>
            <div>
                <div>
                    <div>
                        <h3>LEAD WEB DESIGNER</h3>
                        <p>
                            ABC Company, Saskatoon  
                            <span>
                                / June 2011 - Present
                            </span>
                        </p>
                        <span>3 Years</span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.
                    </p>
                </div>
                <div>
                    <div>
                        <h3>JUNIOR DESIGNER</h3>
                        <p>
                            XYZ Company, Lethbridge  
                            <span>
                                / June 2008 - May 2009
                            </span>
                        </p>
                        <span>1 Years</span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.
                    </p>
                </div>
                <div>
                    <div>
                        <h3>WEB DEVELOPER</h3>
                        <p>
                            The Company, Lethbridge  
                            <span>
                                / June 2007 - May 2008
                            </span>
                        </p>
                        <span>1 Years</span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.
                    </p>
                </div>
            </div>
        </section>
        <section id="slider" class="addPaddingPart">
            
        </section>
        <section id="portfolio" class="addPaddingPart">
            <h2>PORTFOLIO</h2>
            <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. </p>
            <div>
                <div>
                    <div>
                        <h4>FILTER BY CATEGORIE</h4>
                        
                        <input type="radio" v-model="selectedCategory" id="all" value="All" />
                        <label for="all">All</label>
                        
                        <input type="radio" v-model="selectedCategory" id="themes" value="Themes" />
                        <label for="themes">Themes</label>
                        
                        <input type="radio" v-model="selectedCategory" id="icon" value="Icon" />
                        <label for="icon">Icon</label>
                        
                        <input type="radio" v-model="selectedCategory" id="patterns" value="Patterns" />
                        <label for="patterns">Patterns</label>
                        
                        <input type="radio" v-model="selectedCategory" id="mockups" value="Mockups" />
                        <label for="mockups">Mockups</label>

                        <input type="radio" v-model="selectedCategory" id="uikits" value="UIKits" />
                        <label for="uikits">UI Kits</label>
                    </div>
                </div>
                <div v-for="p in filteredProject">
                    <a v-bind:href="p.link" target="_blank">
                        <img v-bind:src="p.picture" v-bind:alt="p.alt">
                    </a>
                </div>
            </div>
        </section>
        <section id="contact" class="addPaddingPart">
            <div>
                <h2>CONTACT ME</h2>
                <p>
                    Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.
                        <br>
                        <br>
                    122 33rd Street East
                        <br>
                    Saskatoon, SK
                        <br>
                    S7K 1R9
                        <br>
                        <br>
                    <span>Email: </span> <a href="mailto:info@focal.com">info@focal.com</a>
                        <br>
                    <span>Phone: </span> <a href="tel:1-306-222-2323">1-306-222-2323</a>
                </p>
            </div>
            <div>
                <form action="#" required>
                    <label for="name">
                        Name 
                        <span>*</span>
                    </label>
                    <input type="text" name="name" id="name" required>

                    <label for="email">
                        Email Address 
                        <span>*</span>
                    </label>
                    <input type="email" name="email" id="email" required>

                    <label for="message">
                        Message 
                        <span>*</span>
                    </label>
                    <textarea name="message" id="message" required></textarea>

                    <input type="submit" value="CONTACT ME">
                </form>
            </div>
        </section>
    </main>
    <footer>
        <p>COPYRIGHT 2014 FOCAL - BUILT WITH PASSION</p>
        <div>
            <a href="#">
                <img src="assets/img/pictos/networks/twitter.png" alt="Picto Twitter">
            </a>
            <a href="#">
                <img src="assets/img/pictos/networks/facebook.png" alt="Picto Facebook">
            </a>
            <a href="#">
                <img src="assets/img/pictos/networks/pinterest.png" alt="Picto Pinterest">
            </a>
            <a href="#">
                <img src="assets/img/pictos/networks/googlePlus.png" alt="Picto Google +">
            </a>
            <a href="#">
                <img src="assets/img/pictos/networks/dribbble.png" alt="Picto dribbble">
            </a>
            <a href="#">
                <img src="assets/img/pictos/networks/linkedIn.png" alt="Picto LinkedIn">
            </a>
        </div>
    </footer>

    <script>
        const appCode = {
            data(){
                return{
                    project: [],
                    selectedCategory: "All"
                }
            },
            created() {
                var self = this
                $.getJSON('assets/js/portfolio.json', function (data) {
                    self.project = data
                })
            },
            computed: {
                filteredProject: function() {
                    var self = this
                    var category = self.selectedCategory
                    
                    if(category === "All") {
                        return self.project;
                    } else {
                        return self.project.filter(function(element) {
                            return element.category === category;
                        });
                    }
                }
            }
        },

        myApp = Vue.createApp(appCode)
        myApp.mount('#portfolio')
    </script>
</body>
</html>