@import './variables.scss';

%absolute{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

%flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}