@import './_variables.scss';
@import './_mixin.scss';
@import './_placeholders.scss';
@import './_functions.scss';

// @warn lightness(#252e30);
// @warn lightness(#4b5456);
// @warn lightness(#575c5d);
// @warn lightness(#f2f2f1);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: $text;

    a:hover, input[type=submit]{
        cursor: url('../img/pictos/cursor.png'), auto;
    }
}

@include scrollbar(10px, 10px, $grey, lighten($grey, 16.6%));

html{
    scroll-behavior: smooth;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    > div:last-child{
        &:not(#slider-intro){
            display: none;
        }
    }
    div#slider-intro{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: relative;
        @extend %flexCenter;
        flex-direction: column;
        img{
            min-width: 100%;
            @extend %absolute;
            z-index: 0;
        }
        h1{
            font-size: $head;
            font-family: $titleFont;
            color: $white;
            border-top: solid 2px $white;
            border-bottom: solid 2px $white;
            text-align: center;
            margin-left: 5%;
            margin-right: 5%;
            position: relative;
            z-index: 1;
        }
        a{
            @include button($white, $white, transparent, $white, $grey);
            margin-top: 3%;
            z-index: 1;
        }
    }
    nav{
        width: 100%;
        background: $grey;
        display: flex;
        justify-content: center;
        padding-top: 1%;
        padding-bottom: 1%;
        div{
            width: 20%;
            display: flex;
            align-items: center;
            > span{
                color: $white;
                background: lighten($grey, 16.6%);
                padding-left: 4%;
                padding-right: 4%;
                padding-top: 2%;
                padding-bottom: 2%;
                font-size: $title;
            }
            h2{
                color: $green;
                font-family: $titleFont;
                padding-left: 4%;
                font-size: $title;
                span{
                    font-size: $title;
                    color: $white;
                }
            }
        }
        ul{
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                list-style: none;
                a{
                    color: $white;
                    text-decoration: none;
                    &:hover{
                        color: $green;
                    }
                }
            }
        }
    }
    main{
        // general content
        h2{
            font-size: $title;
            font-family: $titleFont;
            color: $grey;
            padding-bottom: 3%;
        }
        h3{
            font-size: $subhead;
            font-family: $titleFont;
            color: $grey;
        }
        .addPaddingPart{
            padding: 5%;
        }
        > .addPaddingPart{
            padding-left: 10%;
            padding-right: 10%;
        }
        // part by part
        #introduction{
            display: flex;
            justify-content: space-around;
             div{
                 width: 30%;
             }
        }
        #aboutme{
            background: darken($white, 5.3%);
            display: flex;
            > div:first-child{
                > img{
                    height: 100%;
                }
            }
            > div:last-child{
                > div{
                    padding-top: 2%;
                    display: flex;
                    flex-wrap: wrap;
                    > div{
                        width: 45%;
                        padding-top: 3%;
                        display: flex;
                        > div:first-child{
                            padding-right: 5%;
                        }
                        h3{
                            padding-bottom: 3%;
                        }
                    }
                }
            }
        }
        #skills{
            display: flex;
            justify-content: space-around;
            > div{
                width: 45%;
                &:first-child{
                    p{
                        padding-bottom: 7%;
                    }
                    a{
                        @include button($green, $green, transparent, $green, $white);
                    }
                }
                &:last-child{   
                    > div{
                        padding-top: 4%;
                        &:first-child, &:nth-child(3){
                            div{
                                @include percentage($green, 90%, '90%', 10%, $white);
                            }
                        }
                        &:nth-child(2){
                            div{
                                @include percentage($green, 80%, '80%', 20%, $white);
                            }
                        }
                        &:nth-child(4){
                            div{
                                @include percentage($green, 70%, '70%', 30%, $white);
                            }
                        }
                    }
                }
            }
        }
        #resume{
            background: darken($white, 5.3%);
            text-align: center;
            position: relative;
            p{
                padding-bottom: 5%;
            }
            a{
                @include button($green, $green, transparent, $green, $white);
            }
            span{
                width: 40px;
                height: 40px;
                background: darken($white, 5.3%);
                transform: rotate(45deg);
                position: absolute;
                bottom: -20px;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
        //education and experience part
        .presentation{
            display: flex;
            justify-content: space-around;
            > div{
                width: 45%;
                &:last-child{
                    > div{
                        padding-top: 10%;
                        div{
                            padding-bottom: 5%;
                            border-bottom: solid 1px darken($white, 5.3%);
                            p{
                                padding-top: 2%;
                                padding-bottom: 2%;
                                font-weight: 600;
                                span{
                                    font-weight: 100;
                                }
                            }
                            > span{
                                padding-left: 1%;
                                padding-right: 1%;
                                background: $green;
                                color: $white;
                            }
                        }
                        > p{
                            padding-top: 5%;
                        }
                    }
                }
            }
        }
        #slider{
            background-color: darken($white, 5.3%);
            .slider { // fieldset
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                padding: 0;
                margin: 0;
                border: 0;
                margin-inline: 0;
                padding-block: 0;
                padding-inline: 0;
                min-inline-size: 0;
                padding-bottom: 5%;
                legend {
                    display: none;
                }
                input {
                    display: none;
                }
                .slides {
                    width: 300%;
                    display: flex;
                    .slide {
                        width: 100%;
                        text-align: center;
                        transition: 2s;
                        cite{
                            font-style: italic;
                            text-align: center;
                            color: lighten($grey, 16.6%);

                            &:before, &:after{
                                content: '"';
                            }
                        }
                        h3 {
                            color: $grey;
                            padding-top: 3%;
                        }
                    }
                }

                .navigation-manual {
                    @extend %absolute;
                    top: auto;
                    display: flex;
                    justify-content: center;
                    z-index: 2;

                    .manual-btn {
                        border: 1px solid $green;
                        padding: 5px;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: 1s;

                        &:not(:last-child) {
                            margin-right: 20px;
                        }

                        &:hover {
                            background: $green;
                        }
                    }
                }

                .navigation-auto {
                    @extend %absolute;
                    top: auto;
                    display: flex;
                    justify-content: center;
                    z-index: 1;

                    div {
                        border: 1px solid transparent;
                        padding: 5px;
                        border-radius: 10px;
                        transition: 1s;

                        &:not(:last-child) {
                            margin-right: 20px;
                        }
                    }
                }
            }

            #radio1:checked~.slides .slide {
                margin-left: 0;
            }

            #radio2:checked~.slides .slide {
                transform: translateX(-100%);
            }

            #radio3:checked~.slides .slide {
                transform: translateX(-200%);
            }

            #radio1:checked~.navigation-auto .auto-btn1,
            #radio2:checked~.navigation-auto .auto-btn2,
            #radio3:checked~.navigation-auto .auto-btn3 {
                background: $green;
            }
        }

        #portfolio{
            text-align: center;
            > div{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                div{
                    width: 30%;
                    padding-top: 5%;
                    &:first-child{
                        div{
                            width: 100%;
                            height: 100%;
                            background: $grey;
                            padding-left: 10%;
                            text-align: left;
                            display: flex;
                            flex-direction: column;
                            h4{
                                color: $white;
                                padding-top: 5%;
                                padding-bottom: 5%;
                            }
                            input{
                                display: none;
                            }
                            label{
                                width: max-content;
                                list-style: none;
                                padding-top: 1%;
                                padding-bottom: 1%;
                                color: darken($white, 35.3%);
                                cursor: url('../img/pictos/cursor.png'), auto;
                                font-weight: 100;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                            input[type=radio]:checked + label{
                                color: $white;
                                font-weight: 600;
                            }
                        }
                    }
                    &:not(:first-child){
                        a{
                            display: flex;
                            position: relative;
                            overflow: hidden;
                            // If we want use background image
                            // @for $i from 0 to 7 {
                            //     #a-#{$i} {
                            //         background-image: url('../img/portfolio/img0' + $i +'.jpg');
                            //         background-repeat: no-repeat;
                            //     }    
                            // }
                            &::before{
                                content: '';
                                opacity: 0;
                                @extend %absolute;
                                background: transparentize($green, .2%);
                                transition: 1s;
                            }
                            &::after{
                                content: url('../img/pictos/loupe.png');
                                opacity: 0;
                                @extend %absolute;
                                @extend %flexCenter;
                                transition: .5s;
                            }
                            &:hover{
                                &::before{
                                    content: '';
                                    opacity: 1;
                                    transition: .5s;
                                }
                                &::after{
                                    content: url('../img/pictos/loupe.png');
                                    opacity: 1;
                                    @extend %absolute;
                                    @extend %flexCenter;
                                    transition: .5s;
                                }
                            }
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
        #contact{
            background: lighten($grey, 16.6%);
            display: flex;
            justify-content: space-around;
            div{
                width: 45%;
                color: darken($white, 35.3%);
                &:first-child{
                    h2{
                        color: $white;
                    }
                    span{
                        color: $white;
                    }
                    a{
                        text-decoration: none;
                        color: darken($white, 35.3%);
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                &:last-child{                    
                    form{
                        display: flex;
                        flex-direction: column;
                        label{
                            padding-bottom: 2%;
                            padding-top: 5%;
                            color: $white;
                            span{
                                color: darken($white, 35.3%);
                            }
                        }
                        input{
                            &:not([type=submit]){
                                height: 40px;
                                background: lighten($grey, 31.6%);
                                border: none;
                                caret-color: $white;
                                color: $grey;
                            }
                            &[type=submit]{
                                @include button($white, $grey, $grey, transparent, $white);
                                width: max-content;
                            }
                        }
                        textarea{
                            @extend input;
                            min-height: 300px;
                            margin-bottom: 5%;
                            width: 100%;
                            min-width: 100%;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
    footer{
        background: $grey;
        padding-top: 3%;
        padding-bottom: 3%;
        text-align: center;
        p{
            color: darken($white, 35.3%);
            padding-bottom: 2%;
        }
        div{
            width: 30%;
            margin: auto;
            display: flex;
            justify-content: space-evenly;
            a{
                width: 25px;
                height: 25px;
                text-decoration: none;
                border-radius: 50%;
                background: lighten($grey, 20%);
                @extend %flexCenter;
                overflow: hidden;
                transition: .5s;
                img{
                    max-width: 15px;
                    max-height: 15px;
                }
                &:nth-child(4){
                    img{
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                &:hover{
                    transform: rotate(360deg);
                    transition: .5s;
                    img{
                        filter:saturate(100);
                    }
                }
            }
        }
    }
}